<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <ul>
        <li><a href="/fizz-buzz"><h1>Fizz Buzz</h1></a></li>
        <li><a href="/palindrome"><h1>Palindrome</h1></a></li>
        <li><a href="/pig-latinfy"><h1>Pig Latinfy</h1></a></li>
        <li><a href="/string-reverser"><h1>String Reverser</h1></a></li>
        <li><a href="/vowel-counter"><h1>Vowel Counter</h1></a></li>
        <li><a href="/word-counter"><h1>Word Counter</h1></a></li>
    </ul>
    <% include partials/footer.ejs %>
</body>
</html>
