<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="container reverse-text text-center">
        <div class="content">
            <div class="row">
                <h1>Palindrome</h1>
            </div>
            <div class="container">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="select form-control">
                            <option>Palindrome</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="textbox" class="textbox" placeholder="enter text here">
                    </div>
                    <button class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Submit</button>
                </form>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
