body {
    background: #34495e;
}

h1 {
    min-height: 1.3em;
    background: #34495e;
    color: #fff;
    font-weight: bolder;
}

ul {
    list-style: none;
}

a:hover {
    color: lightgrey!important;
}
